.container {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1000px;
    .header {
        width: 100%;
        border: 1px solid black;
        text-align: center;
        margin-top: 0;
        padding: 10px;
    }
    .section {
        width: 45%;
        border: 1px solid red;
    }
    @media (max-width: 767px) {
        .section {
            width: 80%;
        }
    }
}